@model IEnumerable<HappyHotels.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_in_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_out_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_of_adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_of_children)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coupon.coupon_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelRoom.photo_link)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.check_in_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.check_out_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_of_adults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_of_children)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coupon.coupon_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelRoom.photo_link)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.booking_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.booking_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.booking_id })
            </td>
        </tr>
    }

</table>
@section Scripts {

    @Scripts.Render("~/bundles/datatable")
    <script>
            $(document).ready(function () {
                $('.table').DataTable();
            });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
