@model IEnumerable<HappyHotels.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.check_in_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.check_out_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.no_of_adults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.no_of_children)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.check_in_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.check_out_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_of_adults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_of_children)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.booking_id }) <br />
                    @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.booking_id }) <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.booking_id })
                    }
                </td>
            </tr>
        }
        </tbody>

</table>
@section Scripts {

    @Scripts.Render("~/bundles/datatable")
    <script>
            $(document).ready(function () {
                $('.table').DataTable();
            });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
