@model HappyHotels.Models.Hotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal coordinates">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd class="description">
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_in_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lattitude)
        </dt>

        <dd class="latitude">
            @Html.DisplayFor(model => model.lattitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd class="longitude">
            @Html.DisplayFor(model => model.longitude)
        </dd>

    </dl>
    <div id='map' style='width: 400px; height: 300px;'>
    </div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicm9oYW5uaXMiLCJhIjoiY2sxMjMwdjZnMDBodTNubXNzNW5oaGp4MiJ9.ukuJhp_z2fKxFKwSlx7miA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11'
        });
    </script>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}
@if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.hotel_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}